*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

body {
    color: rgb(97, 221, 255);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #06051e;
    background-position: center;
    background-size: cover;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;
}

.headLinePic{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: 0 20%;
    opacity: 70%;
    z-index: 0;
}

#header_menubar {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #14123d;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    padding: 0 10px;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    width: 100vw;
    height: 70px;
    z-index: 1;
}

.uiMenu:hover{
    text-decoration: underline;

}

.uiMenu:visited{
    color: rgb(97, 221, 255);
}

.uiMenu:active{
    color: rgb(132, 255, 204);
}

#mainAboutMe{
    margin-top: 20px;
}

#mainProject{
    margin-top: 20px;
}

h1{
    display: flex;
    justify-content: center;
}

.topAboutME{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.leftblockAboutME{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & img{
        border-radius: 500px;
        width: 400px;
        height: 400px;
        margin-bottom: 30px;
    }
}

.button {
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(97, 221, 255);
    color: rgb(46, 29, 96);
}

.button:active{
    background-color: rgb(132, 255, 204);
}

.allbuttonProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonProject{
    margin-top: 30px;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    margin-right: 20px;
}

.buttonProject:hover{
    background-color: rgb(97, 221, 255);
    color: rgb(46, 29, 96);
}

.buttonProject:active{
    background-color: rgb(132, 255, 204);
}

.rightblockAboutME{
    display: flex;
    flex-direction: column;
}

.blockContentUp,.blockContentDown{
    display: flex;
    flex-direction: row;
}

.allAbourME{
    margin-bottom: 50px;
}

.sectionHead{
    font-size: 24px;
    background-color:#323079;
    color: #ffffff;
    width: 500px;
    height: 50px;
    padding-left: 10px;
    padding: 10px;
}


.contentText1{
    text-align: center;
    font-size: 18px;
    background-color: rgb(233, 227, 255);
    color: #000;
    width: 250px;
    height: 50px;
    padding: 10px;
}

.contentText2{
    text-align: center;
    font-size: 18px;
    background-color: rgb(127, 108, 196);
    color: #ffffff;
    width: 250px;
    height: 50px;
    padding: 10px;
}

.contentText3{
    font-size: 18px;
    background-color: rgb(233, 227, 255);
    color: #000;
    width: 500px;
    height: 50px;
    padding: 10px;
}

.contentText1:hover{
    background-color: rgb(53, 21, 117);
    color: rgb(255, 255, 255);
}
.contentText2:hover{
    background-color: rgb(53, 21, 117);
    color: rgb(255, 255, 255);
}
.contentText3:hover{
    background-color: rgb(53, 21, 117);
    color: rgb(255, 255, 255);
}

.downAbouMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.downSectionHead,.downcontentText1,.downcontentText2{
    width: 80vw;
    height: 50px;
    padding-left: 10px;
    padding: 10px;
}

.downSectionHead{
    font-size: 24px;
    background-color:#323079;
    color: #ffffff;
}

.downcontentText1{
    font-size: 18px;
    background-color: rgb(233, 227, 255);
    color: #000;
}

.downcontentText2{
    font-size: 18px;
    background-color: rgb(127, 108, 196);
    color: #000;
}

.downcontentText1:hover{
    background-color: rgb(53, 21, 117);
    color: rgb(255, 255, 255);
}
.downcontentText2:hover{
    background-color: rgb(53, 21, 117);
    color: rgb(255, 255, 255);
}

#assignmentAll{
    margin: 100px;
}

#assignmentAll h1{
    margin: 30px;
}

.contentTextAssignment{
    color: #000;
    font-size: 20;
}

.contentTextAssignmentDiv{
    background-color: rgb(233, 227, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    padding: 30px;
}

.contentTextAssignmentButton{
    padding: 10px 30px;
    background-color: #000;
    color: #ffffff;
}

.contentTextAssignmentButton:hover{
    color: rgb(97, 221, 255);;
}

@media screen and (max-width: 768px) {

    .topAboutME{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button{
        margin-bottom: 50px;
    }

}
